---
header_theme: dark
title: Business Continuity Add-On | GoCD by ThoughtWorks
description: GoCD's business continuity add-on
keywords: continuous integration, continuous delivery, pipelines
---

<section class="section1">
  <div class="background">
    <div class="triangle">
      <div id="title">
        <h2>Business Continuity Add-On</h2>
      </div>
    </div>
  </div>

</section>
