body.help {
  @include sub-page-title;

  .trapezium-left {
    border-width: 0 10vw 30vh 0;
  }

  .trapezium-right {
    border-width: 0 0 30vh  10vw;
  }

  .trapezium {
    width: 55vw;
    height: 0;
    border-color: transparent transparent white transparent;
    border-style: solid;
  }

  #row1 {
    justify-content: flex-start;
  }

  #row2 {
    justify-content: flex-end;
  }

  #row3 {
    justify-content: flex-start;
  }

  .row {
    display: flex;
    flex-direction: row;
    background: #f8f8f8;
  }
}