body.help {
  @include sub-page-title;

  .section2 {
    @include media($medium-screen) {
      @include trapezium-rows;
    }

    .column {
      &:nth-child(odd) {
        background: $background_gray;
      }

      .title {
        padding: 5vh 5vw;
        font-weight: bold;
        font-size: larger;
      }

      .summary {
        padding: 0 5vw 5vh 5vw;
      }
    }
  }
}
