@mixin sub-page-title {
  .section1 {
    color: $background_gray;
    font-weight: 300;
    min-height: 40vh;

    .background {
      background: image-url("common/support.jpg");
      background-size: cover;

      .triangle {
        width: 550px;
        height: 0;
        border-color: transparent transparent rgba(129, 45, 129, 0.7) transparent;
        border-style: solid;
        border-width: 0 200px 40vh 0;

        #title {
          position: absolute;
          left: 1em;
          top: 15vh;
        }
      }
    }
  }
}

@mixin trapezium-rows {
  .column {
    width: 50%;
    float: left;
    height: 30vh;
    z-index: 1;
    position: relative;

    &:nth-child(2n + 1):before {
      content: "";
      background: no-repeat 50% 50%/cover;
      height: 100%;
      width: 100vw;
      position: absolute;
      z-index: -1;
      left: 0;
    }

    &:nth-child(4n + 1):before {
      background-image: image-url("common/trapezium-row-1.svg");
    }

    &:nth-child(4n + 3):before {
      background-image: image-url("common/trapezium-row-2.svg");
    }
  }
}