---
header_theme: dark
title: Continuous Delivery | GoCD by ThoughtWorks
description: Continuous Delivery
keywords: continuous integration, continuous delivery, pipelines
---

<section class="section1">
    <div class="background">
        <div class="triangle">
            <div id="title">
                <h2><b>EVENTS</b></h2>
            </div>
        </div>
    </div>

</section>


<section class="section2">
    <div class="inner">
        <h3 class="header">Join our Webinars on...</h3>
        <div class="webinar">
            <div class="header row">
                <span class="month">AUGUST</span>
            </div>
            <div class="row">
                <span class="date"><b>19</b> Aug</span>
                <span class="webinar-name">Let's Go</span>
            </div>
            <div class="row">
                <span class="date"><b>19</b> Aug</span>
                <span class="webinar-name">How GO is Going?</span>
            </div>
            <div class="header row">
                <span class="month">SEPTEMBER</span>
            </div>
            <div class="row">
                <span class="date"><b>19</b> Sep</span>
                <span class="webinar-name">Let's Go</span>
            </div>
            <div class="row">
                <span class="date"><b>19</b> Sep</span>
                <span class="webinar-name">How GO is Going?</span>
            </div>
        </div>
    </div>
</section>
