---
header_theme: dark
title: Continuous Delivery | GoCD by ThoughtWorks
description: Continuous Delivery
keywords: continuous integration, continuous delivery, pipelines
---

<section class="section1">
    <div class="background">
        <div class="triangle">
            <div id="title">
                <h2>Help & Documentation</h2>
            </div>
        </div>
    </div>
</section>

<section class="section2">
  <div class="inner">
    <div class="column">
      <div class="content">
        <div class="title">
          <a href="http://www.go.cd/documentation/user/current/">Go User Documentation</a>
        </div>

        <p class="summary">Helps you understand the basic concepts in Go as well as detailed complex concepts</p>
      </div>
    </div>

    <div class="column">
      <div class="title">
        <a href="../help/addon_postgres">Go PostgreSQL Add-On Documentation</a>
      </div>

      <p class="summary">Helps you setup Go to use PostgreSQL</p>
    </div>

    <div class="column">
      <div class="title">
        <a href="../help/addon_business_continuity">Go Business Continuity Add-On Documentation</a>
      </div>

      <p class="summary">Helps you setup Go's business continuity support</p>
    </div>
  </div>
</section>
