---
header_theme: dark
title: Continuous Delivery | GoCD by ThoughtWorks
description: Continuous Delivery
keywords: continuous integration, continuous delivery, pipelines
---

<section class="section1">
  <div
    data-0="opacity: 0.99;"
    data-100="opacity: 0.45;"
    data-200="opacity: 0.35;"
    data-300="opacity: 0.25;"
    data-400="opacity: 0.1;"
    class="background"></div>

  <div class="hero-triangle">
  </div>

  <div class="hero-tri-text">
    <span>GOCD is open source</span>
    <a href="http://www.go.cd" style="color: white"><b>Learn More</b></a>
  </div>

  <div class="inner">
    <div class="hero-content">
      <div class="hero-text">
        <h1>SUPPORT. PERFORMANCE.</h1>
        <h1>RELIABILITY.</h1>
      </div>

      <p class="subheading">
        Go is a critical piece of your infrastructure<br>
        We get that. We are committed to providing <b>world-class support</b><br>
        for Go users in the enterprise.
      </p>

      <div class="view-details">
        <a href="#section2" class="arrow"></a>
      </div>
    </div>
  </div>
</section>


<section class="section2" id="section2">
  <div class="section2-triangle"></div>
  <div class="inner">
    <div class="cards">
      <div class="card" id="card1"
           data-90p-top="opacity: 1;"
           data-10p-top="opacity: 1;"
           data-0p-top="opacity: 0;">
        <div class="card_content">
          <h4 class="card_title">Higher performance database</h4>

          <p class="card_text">Go's OSS distribution uses an embedded database. That's great for getting started. But, if you need
          to scale beyond a few teams and several pipelines, our PostgreSQL plugin gives you the performance upgrade
          necessary for hundreds of pipelines and agents. We recommend PostgreSQL for critical deployments.</p>
        </div>
      </div>

      <div class="card" id="card2"
           data-90p-top="opacity: 1;"
           data-0p-top="opacity: 1;">
        <div class="card_content">
          <h4 class="card_title">Business Continuity</h4>

          <p class="card_text">
            Hard drives fail. This add-on helps make sure that you can deliver even when your machine…..

            <p class="card_text">
              With the business continuity add-on you’ll be able to set up secondary Go and PostgreSQL servers to protect
              against downtime. It includes the ability to store artifacts on network drives and automatic redirection of
              build agents.
            </p>
          </p>
        </div>
      </div>

      <div class="images">
        <div class="inner">
          <img src="/assets_site/images/index/section2/2_high_performance_db.svg" class="card_image"
               data-anchor-target="#card1"
               data-25p-top="opacity: 1;"
               data-0p-top="opacity: 1;"
               data--10p-top="opacity: 0;" />
          <img src="/assets_site/images/index/section2/1_business_continuity.svg" class="card_image"
               data-anchor-target="#card2"
               data-80p-top="opacity: 0;"
               data-55p-top="opacity: 1;"
               style="opacity: 1;" />
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section3" id="section3">

    <div class="inner">
        <div class="text-content">
            <h3 class="header">What you get with all tiers of paid support ?</h3>
            <ul class="support-features">
                <li>Access to our support team</li>
                <li>Unlimited support cases per month</li>
                <li>Access to core committers in the Go.cd project</li>
                <li>Notifications for all bug fixes and security patches</li>
                <li>Notification of all Go Help updates and upgrades; installation of patches and upgrades</li>
            </ul>
        </div>
        <img src="/assets_site/images/index/section3/support.svg" class="support-icon"/>
    </div>
</section>


<section class="section4" id="section4">
  <h3 class="header">Pricing</h3>

  <div class="inner">
    <div class="pricing">
      <div class="header row">
        <span class="number-of-pipelines">Number of pipelines</span>
        <span class="addons-included">Includes</span>
        <span class="price">Pricing, per year, USD</span>
      </div>

      <div class="row">
        <span class="number-of-pipelines">1-50</span>
        <span class="addons-included">Support only</span>
        <span class="price">$5,000</span>
      </div>

      <div class="row">
        <span class="number-of-pipelines">51-250</span>
        <span class="addons-included">Support + Addons</span>
        <span class="price">$15,000</span>
      </div>

      <div class="row">
        <span class="number-of-pipelines">251-500</span>
        <span class="addons-included">Support + Addons</span>
        <span class="price">$25,000</span>
      </div>

      <div class="row">
        <span class="number-of-pipelines">500+</span>
        <span class="addons-included">Support + Addons</span>
        <span class="price">Contact Us</span>
      </div>
    </div>
  </div>
</section>


<section class="section5">
  <div class="background"></div>

  <div class="inner">
    <div class="marketo-form">
      <h3 class="header">Write to us to get started ...</h3>
      <script src="//app-e.marketo.com/js/forms2/js/forms2.min.js"></script>
      <form id="mktoForm_3238"></form>
      <script>
        MktoForms2.loadForm("//app-e.marketo.com", "199-QDE-291", 3238);
      </script>
    </div>

    <div class="contact-us">
      <h3 class="header"><b>Or reach us at</b></h3>
      <div class="country-name">America Hours</div>
      <div class="contact-medium">+1 415 463 1900</div>
      <div class="country-name">Europe Hours</div>
      <div class="contact-medium">+44 (0) 20 7497 4500</div>
      <div class="country-name">Asia, Australia & Africa Hours</div>
      <div class="contact-medium">+91 80 4323 3722</div>
    </div>
  </div>
</section>

<section class="section6">
    <div class="background"></div>
    <div class="inner">
        <div class="text-portion">
            <h3><b>Continuous delivery is in our DNA<span class="super">*</span></b></h3>
            <p class="joke">Well.... not really. Because that would be silly, technically inaccurate
                and biologically impossible. But you know what we mean!</p>
            <p class="about-TW-CD">
                ThoughtWorks has been a key innovator in continuous delivery and has helped thousands deliver
                software over the past 20 years. We are proud to continue this tradition with Go.
            </p>
        </div>
        <div class="bottom">
            <div class="fowler-section">
                <img src="assets_site/images/index/section6/pic2.png" id="fowler-img">
                <img src="assets_site/images/index/section6/pic4.png" id="refactoring-book">
            </div>
            <div class="jez-section">
                <div class="jez-images">
                    <img src="assets_site/images/index/section6/pic3.png" id="jez-img">
                    <img src="assets_site/images/index/section6/pic1.png" id="CD-book">
                </div>
                <p id="jez-quote">
                <span>
                &ldquo;The essence of my philosophy to software delivery is to build software so that it is always
                in a state where it could be put into production. We call this Continuous Delivery because we are continuously
                running a deployment pipeline that tests if this software is in a state to be delivered.&rdquo;<br/>&nbsp; &mdash; Jez Humble
                </span>
                </p>
            </div>
        </div>
    </div>
</section>

<section class="section7" >
  <div class="inner">
    <h3 class="header">Our customers</h3>

    <div class="logo-wrap">
      <img src="assets_site/images/index/section7/trainline.png" class="customer-logo"/> <img onmouseover="bigImg(this)" src="assets_site/images/index/section7/trainline_hover.png" alt="trainline"/>

      <img src="assets_site/images/index/section7/ancestry.png" class="customer-logo" />

      <img src="assets_site/images/index/section7/rwbaird.jpeg" class="customer-logo"/>

    </div>
  </div>
</section>

<section class="section8">
    <div class="inner">
        <h3 class="header">Join our Webinars on...</h3>
        <div class="webinar">
            <div class="header row">
                <span class="month">AUGUST</span>
            </div>
            <div class="row">
                <span class="date"><b>19</b> Aug</span>
                <span class="webinar-name">Let's Go</span>
            </div>
            <div class="row">
                <span class="date"><b>19</b> Aug</span>
                <span class="webinar-name">How GO is Going?</span>
            </div>
            <div class="header row">
                <span class="month">SEPTEMBER</span>
            </div>
            <div class="row">
                <span class="date"><b>19</b> Sep</span>
                <span class="webinar-name">Let's Go</span>
            </div>
            <div class="row">
                <span class="date"><b>19</b> Sep</span>
                <span class="webinar-name">How GO is Going?</span>
            </div>
        </div>
    </div>
</section>


<%= javascript_include_tag 'frameworks/skrollr-0.6.29.min.js' %>
<%= javascript_include_tag 'index.js' %>
<script type="text/javascript">
  if(!/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
    skrollr.init();
  }
</script>
