---
header_theme: dark
title: Continuous Delivery | GoCD by ThoughtWorks
description: Continuous Delivery
keywords: continuous integration, continuous delivery, pipelines
---

<section class="section1">
  <div
    data-0="opacity: 0.99;"
    data-100="opacity: 0.45;"
    data-200="opacity: 0.35;"
    data-300="opacity: 0.25;"
    data-400="opacity: 0.1;"
    class="background"></div>
  <div class="hero-triangle">
  </div>
  <div class="hero-tri-text">
      <span>GOCD is open source</span>
      <a href="http://www.go.cd" style="color: white"><b>Learn More</b></a>
  </div>
    <div class="inner">
    <div class="hero-content">
      <div class="hero-text">
        <h1><b>SUPPORT. PERFORMANCE.</b></h1>
        <h1><b>RELIABILITY.</b></h1>
      </div>

      <p class="subheading">
        Go is a critical piece of your infrastructure<br>
        We get that. We are committed to providing <b>world-class support</b><br>
        for Go users in the enterprise.
      </p>

      <div class="view-details">
        <a href="#section2" class="arrow"></a>
      </div>
    </div>
  </div>
</section>


<section class="section2" id="section2">
  <div class="section2-triangle"></div>
  <div class="inner">
    <div class="cards">
      <div class="card" id="card1"
           data-90p-top="opacity: 1;"
           data-10p-top="opacity: 1;"
           data-0p-top="opacity: 0;">
        <div class="card_content">
          <h4 class="card_title">Higher performance database</h4>

          <p class="card_text">Go's OSS distribution uses an embedded database. That's great for getting started. But, if you need
          to scale beyond a few teams and several pipelines, our PostgreSQL plugin gives you the performance upgrade
          necessary for hundreds of pipelines and agents. We recommend PostgreSQL for critical deployments.</p>
        </div>
      </div>

      <div class="card" id="card2"
           data-90p-top="opacity: 1;"
           data-0p-top="opacity: 1;">
        <div class="card_content">
          <h4 class="card_title">Business Continuity</h4>

          <p class="card_text">
            Hard drives fail. This add-on helps make sure that you can deliver even when your machine…..

            <p class="card_text">
              With the business continuity add-on you’ll be able to set up secondary Go and PostgreSQL servers to protect
              against downtime. It includes the ability to store artifacts on network drives and automatic redirection of
              build agents.
            </p>
          </p>
        </div>
      </div>

      <div class="images">
        <div class="inner">
          <img src="/assets_site/images/index/section2/1_business_continuity.svg" class="card_image"
               data-anchor-target="#card1"
               data-25p-top="opacity: 1;"
               data-0p-top="opacity: 1;"
               data--10p-top="opacity: 0;" />
          <img src="/assets_site/images/index/section2/2_high_performance_db.svg" class="card_image"
               data-anchor-target="#card2"
               data-80p-top="opacity: 0;"
               data-55p-top="opacity: 1;"
               style="opacity: 1;" />
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section3" id="section3">
  <div class="support-triangle"></div>

  <h3 class="header">Add-ons</h3>

  <div class="inner">
    <div class="column">
      <h4>Higher performance database</h4>

      Go's OSS distribution uses an embedded database. That's great
      for getting started. But, if you need to scale beyond a few
      teams and several pipelines, our PostgreSQL plugin gives you the
      performance upgrade necessary for hundreds of pipelines and
      agents. We recommend PostgreSQL for critical deployments. Read
      more about PostgreSQL.
    </div>

    <div class="column">
      <h4>Business Continuity</h4>

      With the business continuity add-on you’ll be able to set up
      secondary Go and PostgreSQL servers to protect against
      downtime. This add-on includes:

      <ul>
        <li>The ability to stand up a secondary Go server as a warm backup to the primary</li>
        <li>The ability to stand up a secondary database server as a warm backup to the primary</li>
        <li>The ability to store artifacts on network drives for sharing between servers</li>
        <li>Automatic redirection of build agents to the secondary server when needed</li>
      </ul>
    </div>
  </div>
</section>


<section class="section4" id="section4">
  <h3 class="header">Pricing</h3>

  <div class="inner">
  <div class="inner">
    <div class="pricing">
      <div class="header row">
        <span class="number-of-pipelines">Number of pipelines</span>
        <span class="addons-included">Addons included?</span>
        <span class="price">Pricing, per year</span>
      </div>

      <div class="row">
        <span class="number-of-pipelines">1-50</span>
        <span class="addons-included">No</span>
        <span class="price">USD 5,000</span>
      </div>

      <div class="row">
        <span class="number-of-pipelines">51-250</span>
        <span class="addons-included">Yes</span>
        <span class="price">USD 15,000</span>
      </div>

      <div class="row">
        <span class="number-of-pipelines">251-500</span>
        <span class="addons-included">Yes</span>
        <span class="price">USD 25,000</span>
      </div>

      <div class="row">
        <span class="number-of-pipelines">500+</span>
        <span class="addons-included">Yes</span>
        <span class="price">Contact Us</span>
      </div>
    </div>
    <div class="triangle-on-triangle">
        <div class="equalateral-triangle"></div>
        <div class="equalateral-triangle"></div>
    </div>
  </div>
  </div>
</section>


<section class="section5">
  <div class="background"></div>

  <div class="inner">
    <div class="marketo-form">
      <h3 class="header">Write to us to get started ...</h3>
      <script src="//app-e.marketo.com/js/forms2/js/forms2.min.js"></script>
      <form id="mktoForm_3238"></form>
      <script>
        MktoForms2.loadForm("//app-e.marketo.com", "199-QDE-291", 3238);
      </script>
    </div>

    <div class="contact-us">
      <h3 class="header"><b>Or reach us at</b></h3>
      <div class="country-name">America Hours</div>
      <div class="contact-medium">+1 415 463 1900</div>
      <div class="country-name">Europe Hours</div>
      <div class="contact-medium">+44 (0) 20 7497 4500</div>
      <div class="country-name">Asia, Australia & Africa Hours</div>
      <div class="contact-medium">+91 80 4323 3722</div>
    </div>
  </div>
</section>

<section class="section6">
    <div class="background"></div>
    <div class="inner">
        <div class="text-portion">
            <h3><b>Continuous delivery is in our DNA<span class="super">*</span></b></h3>
            <p class="joke">Well.... not really. Because that would be silly, technically inaccurate
                and biologically impossible. But you know what we mean!</p>
            <p class="about-TW-CD">
                ThoughtWorks has been a key innovator in continuous delivery and has helped thousands deliver
                software over the past 20 years. We are proud to continue this tradition with Go.
            </p>
        </div>
        <div class="bottom">
            <div class="fowler-section">
                <img src="assets_site/images/index/section6/pic2.png" id="fowler-img">
                <img src="assets_site/images/index/section6/pic4.png" id="refactoring-book">
            </div>
            <div class="jez-section">
                <div class="jez-images">
                    <img src="assets_site/images/index/section6/pic3.png" id="jez-img">
                    <img src="assets_site/images/index/section6/pic1.png" id="CD-book">
                </div>
                <p id="jez-quote">
                <span>
                &ldquo;The essence of my philosophy to software delivery is to build software so that it is always
                in a state where it could be put into production. We call this Continuous Delivery because we are continuously
                running a deployment pipeline that tests if this software is in a state to be delivered.&rdquo;<br/>&nbsp; &mdash; Jez Humble
                </span>
                </p>
            </div>
        </div>
    </div>
</section>

<section class="section7" >
    <div class="parallogram-sequence">
        <div class="parallogram-content"><h3><b>Our Customers</b></h3></div>
        <div>
            <div class="parallogram forward-parallogram" style="background: #f36fca">
            </div>
        </div>
        <img class="parallogram-content" src="assets_site/images/index/section7/trainline.svg" />
        <div class="parallogram forward-parallogram" style="background: white"></div>
        <img class="parallogram-content" src="assets_site/images/index/section7/trainline.svg" />
        <div class="parallogram forward-parallogram"></div>
    </div>
    <div class="parallogram-sequence">
        <img class="parallogram-content" src="assets_site/images/index/section7/trainline.svg" />
        <div class="parallogram backward-parallogram" style="background: white"></div>
        <img class="parallogram-content" src="assets_site/images/index/section7/trainline.svg" />
        <div class="parallogram backward-parallogram"></div>
        <img class="parallogram-content" src="assets_site/images/index/section7/trainline.svg" />
        <div class="parallogram backward-parallogram" style="background: white"></div>
    </div>
    <div class="parallogram-sequence">
        <img class="parallogram-content" src="assets_site/images/index/section7/trainline.svg" />
        <div class="parallogram forward-parallogram"></div>
        <img class="parallogram-content" src="assets_site/images/index/section7/trainline.svg" />
        <div class="parallogram forward-parallogram" style="background: white"></div>
        <img class="parallogram-content" src="assets_site/images/index/section7/trainline.svg" />
        <div class="parallogram forward-parallogram"></div>
    </div>
</section>


<%= javascript_include_tag 'frameworks/skrollr-0.6.29.min.js' %>
<%= javascript_include_tag 'index.js' %>
<script type="text/javascript">
  if(!/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
    skrollr.init();
  }
</script>
