---
header_theme: dark
title: Continuous Delivery | GoCD by ThoughtWorks
description: Continuous Delivery
keywords: continuous integration, continuous delivery, pipelines
---

<section class="section1" xmlns="http://www.w3.org/1999/html">
  <div
    data-0="opacity: 0.99;"
    data-100="opacity: 0.45;"
    data-200="opacity: 0.35;"
    data-300="opacity: 0.25;"
    data-400="opacity: 0.1;"
    class="background"></div>

  <div class="hero-triangle">
  </div>

  <div class="hero-tri-text">
    <span>GOCD is open source</span>
    <a href="http://www.go.cd" style="color: white"><b>Learn More</b></a>
  </div>

  <div class="inner">
    <div class="hero-content">
      <div class="hero-text">
        <h1>SUPPORT. PERFORMANCE.</h1>
        <h1>RELIABILITY.</h1>
      </div>

      <p class="subheading">
        Go is a critical piece of your infrastructure<br>
        We get that. We are committed to providing <b>world-class support</b><br>
        for Go users in the enterprise.
      </p>

      <div class="view-details">
        <%= link_to '', '/index.html#section2', { 'class' => 'arrow', 'data-component' => 'jumpScoll', 'data-target' => '.section2' } %>
      </div>
    </div>
  </div>
</section>


<section class="section2" id="section2">
  <div class="section2-triangle"></div>
  <div class="inner">
      <div class="static-text" data-anchor-target="#card2"
           data-25p-top="opacity: 1;"
           data-0p-top="opacity: 1;"
           data--2p-top="opacity: 0;" >
           We are committed to ensure you do not fail.</div>
      <div class="cards">
      <div class="card" id="card1"
           data-90p-top="opacity: 1;"
           data-10p-top="opacity: 1;"
           data-0p-top="opacity: 0;">
        <div class="card_content">
          <h2>Higher performance database</h2>

          <p>Go's OSS distribution uses an embedded database. That's great for getting started. But, if you need
          to scale beyond a few teams and several pipelines, our PostgreSQL plugin gives you the performance upgrade
          necessary for hundreds of pipelines and agents. We recommend PostgreSQL for critical deployments.</p>
        </div>
      </div>

      <div class="card" id="card2"
           data-90p-top="opacity: 1;"
           data-0p-top="opacity: 1;">
        <div class="card_content">
          <h2>Business Continuity</h2>

          <p>
            Hard drives fail. This add-on helps make sure that you can deliver even when your machine…..
            <p>
              With the business continuity add-on you’ll be able to set up secondary Go and PostgreSQL servers to protect
              against downtime. It includes the ability to store artifacts on network drives and automatic redirection of
              build agents.
            </p>
          </p>
        </div>
      </div>

      <div class="images">
        <div class="inner">
          <img src="/assets_site/images/index/section2/2_high_performance_db.svg" class="card_image"
               data-anchor-target="#card1"
               data-25p-top="opacity: 1;"
               data-0p-top="opacity: 1;"
               data--10p-top="opacity: 0;" />
          <img src="/assets_site/images/index/section2/1_business_continuity.svg" class="card_image"
               data-anchor-target="#card2"
               data-80p-top="opacity: 0;"
               data-55p-top="opacity: 1;"
               style="opacity: 1;" />
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section3" id="section3">
  <h1>What you get with all tiers of paid support ?</h1>

  <div class="inner">
    <div class="text-content">
      <ul class="support-features">
        <li>Access to our support team</li>
        <li>Unlimited support cases per month</li>
        <li>Access to core committers in the Go.cd project</li>
        <li>Notifications for all bug fixes and security patches</li>
        <li>Notification of all Go Help updates and upgrades; installation of patches and upgrades</li>
      </ul>
    </div>
    <img src="/assets_site/images/index/section3/support.svg" class="support-icon"/>
  </div>
</section>


<section class="section4" id="section4">
  <h1>Pricing</h1>
  <div class="inner">
    <div class="pricing">
      <div class="row">
        <h2 class="number-of-pipelines title">Number of pipelines</h2>
        <h2 class="addons-included title">Includes</h2>
        <h2 class="price title">Pricing, per year, USD</h2>
      </div>

      <div class="row">
        <span class="number-of-pipelines">1-50</span>
        <span class="addons-included">Support only</span>
        <span class="price">$5,000</span>
      </div>

      <div class="row">
        <span class="number-of-pipelines">51-250</span>
        <span class="addons-included">Support + Addons</span>
        <span class="price">$15,000</span>
      </div>

      <div class="row">
        <span class="number-of-pipelines">251-500</span>
        <span class="addons-included">Support + Addons</span>
        <span class="price">$25,000</span>
      </div>

      <div class="row">
        <span class="number-of-pipelines">500+</span>
        <span class="addons-included">Support + Addons</span>
        <span class="price">Contact Us</span>
      </div>
    </div>
  </div>
</section>


<section class="section5">
  <div class="background"></div>

  <div class="inner">
    <div class="marketo-form">
      <h2>Write to us to get started ...</h2>
      <script src="//app-e.marketo.com/js/forms2/js/forms2.min.js"></script>
      <form id="mktoForm_3238"></form>
      <script>
        MktoForms2.loadForm("//app-e.marketo.com", "199-QDE-291", 3238);
      </script>
    </div>

    <div class="contact-us">
      <h2>Or reach us at...</h2>
      <div class="country-name">America Hours</div>
      <h2 class="contact-number">+1 415 463 1900</h2>
      <div class="country-name">Europe Hours</div>
      <h2 class="contact-number">+44 (0) 20 7497 4500</h2>
      <div class="country-name">Asia, Australia & Africa Hours</div>
      <h2 class="contact-number">+91 80 4323 3722</h2>
    </div>
  </div>
</section>

<section class="section6">
    <div class="background"></div>
    <div class="inner">
        <div class="text-portion">
            <h1>Continuous delivery is in our DNA<span class="super">*</span></h1>
            <p class="joke">Well.... not really. Because that would be silly, technically inaccurate
                and biologically impossible. But you know what we mean!</p>
            <p>
                ThoughtWorks has been a key innovator in continuous delivery and has helped thousands deliver
                software over the past 20 years. We are proud to continue this tradition with Go.
            </p>
        </div>
        <div class="bottom">
            <div class="fowler-section">
                <img src="assets_site/images/index/section6/martin%20fowler.jpg" id="fowler-img">
                <img src="assets_site/images/index/section6/pic4.png" id="refactoring-book">
            </div>
            <div class="jez-section">
                <div class="jez-images">
                    <img src="assets_site/images/index/section6/jez%20humble.jpg" id="jez-img">
                    <img src="assets_site/images/index/section6/CD.jpg" id="CD-book">
                </div>
                <p id="jez-quote">
                <span>
                &ldquo;The essence of my philosophy to software delivery is to build software so that it is always
                in a state where it could be put into production. We call this Continuous Delivery because we are continuously
                running a deployment pipeline that tests if this software is in a state to be delivered.&rdquo;<br/>&nbsp; &mdash; <b class="name">Jez Humble</b>
                </span>
                </p>
            </div>
        </div>
    </div>
</section>

<section class="section7" >
  <div class="inner">
    <h1>Our customers</h1>

    <div class="logo-wrap">
      <img src="assets_site/images/index/section7/trainline.png" class="customer-logo" onmouseover="this.src='assets_site/images/index/section7/trainline_hover.png'" onmouseout="this.src='assets_site/images/index/section7/trainline.png'"/>

      <img src="assets_site/images/index/section7/ancestry.png" class="customer-logo" onmouseover="this.src='assets_site/images/index/section7/ancestry_hover.png'" onmouseout="this.src='assets_site/images/index/section7/ancestry.png'"/>

      <img src="assets_site/images/index/section7/rwbaird.jpg" class="customer-logo"onmouseover="this.src='assets_site/images/index/section7/rwbaird_hover.jpg'" onmouseout="this.src='assets_site/images/index/section7/rwbaird.jpg'"/>

    </div>
  </div>
</section>



<%= javascript_include_tag 'frameworks/skrollr-0.6.29.min.js' %>
<%= javascript_include_tag 'index.js' %>
<script type="text/javascript">
  if(!/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
    skrollr.init();
  }
</script>
