---
header_theme: dark
title: Continuous Delivery | GoCD by ThoughtWorks
description: Continuous Delivery
keywords: continuous integration, continuous delivery, pipelines
---

<div style="height:68px;"></div>

<section class="section1">
  <div
    data-0="opacity: 0.99;"
    data-100="opacity: 0.45;"
    data-200="opacity: 0.35;"
    data-300="opacity: 0.25;"
    data-400="opacity: 0.1;"
    class="background"></div>
  <div class="hero-triangle"></div>
  <div class="inner">
    <div class="hero-content">
      <div class="hero-text">
        <h1>Helping you Deliver</h1>
        <h1><b>Continuously!</b></h1>
      </div>

      <p class="subheading">
        Go is a critical piece of your infrastructure<br>
        We get that. We are committed to providing <b>world-class support</b><br>
        for Go users in the enterprise.
      </p>

      <div class="view-details">
        <a href="#" class="arrow"></a>
      </div>
    </div>
  </div>
</section>

<section class="section5">
  <div class="inner">
    <div class="header">
      <h2 data-80p-top="position: relative; opacity: 0; top: 30px;"
          data-70p-top="opacity: 1; top: 0px;">
        Continuous delivery is in our DNA<span class="super">*</span>
      </h2>
      <p class="joke">Well.... not really. Because that would be silly, technically inaccurate
        and biologically impossible. But you know what we mean!</p>
      <p data-90p-top="position: relative; opacity: 0; top: 40px;"
         data-70p-top="opacity: 1; top: 0px;">
        ThoughtWorks has been a key innovator in continuous delivery and has helped thousands deliver
        software over the past 20 years. We are proud to continue this tradition with Go.
      </p>
    </div>

    <div class="grid">
      <div class="col1">
        <img src="/assets_site/images/index/section5/pic1.png"
             class="cd-book"
             data-95p-top="opacity: 0; top: 100px;"
             data-65p-top="opacity: 1; top: 0;" />
        <img src="/assets_site/images/index/section5/pic2.png"
             class="mf"
             data-90p-top="opacity: 0; top: 200px;"
             data-40p-top="opacity: 1; top: 0;" />
        <div class="quote"
             class="quote"
             data-65p-top="opacity: 0; top: 100px;"
             data-40p-top="opacity: 1; top: 0;">
          <blockquote>&ldquo;The essence of my philosophy to software delivery is to build software so that it is always
            in a state where it could be put into production. We call this Continuous Delivery because we are continuously
            running a deployment pipeline that tests if this software is in a state to be delivered.&rdquo;</blockquote>
          <cite>&mdash; Jez Humble</cite>
        </div>
      </div>

      <div class="col2">
        <img src="/assets_site/images/index/section5/pic3.png"
             class="jez"
             data-85p-top="opacity: 0; top: 100px;"
             data-60p-top="opacity: 1; top: 0;" />
        <img src="/assets_site/images/index/section5/pic4.png"
             class="refactoring"
             data-60p-top="opacity: 0; top: 100px;"
             data-45p-top="opacity: 1; top: 0;" />
      </div>
    </div>
  </div>
</section>

<%= javascript_include_tag 'frameworks/skrollr-0.6.29.min.js' %>
<%= javascript_include_tag 'index.js' %>
<script type="text/javascript">
  if(!/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
    skrollr.init();
  }
</script>
