---
header_theme: dark
title: Continuous Delivery | GoCD by ThoughtWorks
description: Continuous Delivery
keywords: continuous integration, continuous delivery, pipelines
---

<section class="section1">
  <div class="background">
    <div class="triangle">
      <div id="title">
        <h2><b>GENERAL SUPPORT TERMS</b></h2>
      </div>
    </div>
  </div>

</section>
